@import url("reset.css");
 * {
  color: rgb(12, 79, 0);
}
a {
   color: rgb(0, 0, 255);
 }
 h1 {
   color: rgb(255, 0, 0);
 }
 .title {
   color: rgb(255, 166, 0);
 }
 #capital {
   color: rgb(128, 0, 255);
 }
 [class*="capital-text"] {
   color: rgb(234, 10, 10);
 }
 .header-item a {
   color: rgb(215, 101, 25);
 }
 .food-item .item-title {
   color: rgb(27, 127, 215);
 }
 .capital-item > h3 {
   color: rgb(248, 39, 39);
 }
 .item-title + p {
   color: rgb(241, 132, 132);
 }